<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToOtherPage()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="onSegmentChanged($event)" [value]="selectedSegment">
    <ion-segment-button class="segmentTextSize" value="pastEvents">
      <ion-label>Eventos anteriores</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segmentTextSize" value="currentEvent">
      <ion-label>Evento atual</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segmentTextSize" value="myEvents">
      <ion-label>Meus eventos</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="segments.PAST_EVENTS">
      <ion-list>
        <ion-item *ngFor="let pastEvent of events">
          <ion-label>
            <h6>{{ pastEvent.date }}</h6>
            <h2>{{ pastEvent.name }}</h2>
            <p>R${{ pastEvent.price }}</p>
          </ion-label>
          <ion-thumbnail slot="end">
            <ion-img [src]="pastEvent.urlImage"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="segments.CURRENT_EVENT">
        <ion-list>
            <ion-item>
              <ion-label>
                <h6>{{ currentEvent.date }}</h6>
                <h2>{{ currentEvent.name }}</h2>
                <p>R${{ currentEvent.price }}</p>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img [src]="currentEvent.urlImage"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-list>
    </div>
    <div *ngSwitchCase="segments.MY_EVENTS">
        <ion-list>
            <ion-item>
              <ion-label>
                <h6>{{ myEvent.date }}</h6>
                <h2>{{ myEvent.name }}</h2>
                <p>R${{ myEvent.price }}</p>
              </ion-label>
              <ion-thumbnail slot="end">
                <ion-img [src]="myEvent.urlImage"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-list>
    </div>
  </div>
</ion-content>
