  <ion-item [routerLink]="['./', myEvents.id]">
    <ion-label>
        <div class="events-details">
          <ion-icon name="calendar" color="primary"></ion-icon>
          <ion-text color="tertiary" class="space-left">
              {{ myEvents.startDate | date }}
          </ion-text>
        </div>
        <h2>{{ myEvents.name }}</h2>
        <p>R${{ myEvents.price }}</p>
      </ion-label>

    <ion-thumbnail slot="end">
      <ion-img [src]="myEvents.urlImage"></ion-img>
    </ion-thumbnail>
  </ion-item>