<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentChanged($event)" [value]="selectedSegment">
      <ion-segment-button class="segmentTextSize" value="currentEvent">
        <ion-label>Atuais</ion-label>
      </ion-segment-button>
      <ion-segment-button class="segmentTextSize" value="myEvents">
        <ion-label>Meus eventos</ion-label>
      </ion-segment-button>
      <ion-segment-button class="segmentTextSize" value="pastEvents">
        <ion-label>Anteriores</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div [ngSwitch]="selectedSegment">
    <div class="ion-text-center ion-padding" *ngIf="isLoading">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <div *ngSwitchCase="segments.PAST_EVENTS">
      <ion-list>
        <div *ngIf="!pastEvents || pastEvents.length <= 0">
          <ion-item *ngIf="!pastEvents || pastEvents.length <= 0" class="ion-text-center">
            <ion-label>
              <ion-text>Sem histórico de eventos ainda.</ion-text>
            </ion-label>
          </ion-item>
          <div class="ion-text-center ion-margin">
            <ion-button routerLink="/tabs/home">Procure um evento</ion-button>
          </div>
        </div>
        <ion-item *ngFor="let pastEvent of pastEvents" [routerLink]="['/events', pastEvent.id]">
          <ion-label>
            <div class="events-details">
              <ion-icon name="calendar" color="primary"></ion-icon>
              <ion-text color="tertiary" class="space-left">
                {{ pastEvent.start_date | date }}
              </ion-text>
            </div>
            <p>
              <b>R${{ pastEvent.price }}</b> -
              {{ pastEvent.start_date | date }} até {{ pastEvent.end_date | date }}
            </p>
          </ion-label>
          <ion-thumbnail slot="end" *ngIf="pastEvent.url_image">
            <ion-img [src]="getImage(pastEvent.id)"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="segments.CURRENT_EVENT">
      <ion-list>
        <div *ngIf="!currentEvent || currentEvent.length <= 0">
          <ion-item *ngIf="!currentEvent || currentEvent.length <= 0" class="ion-text-center">
            <ion-label class="ion-text-wrap">
              <ion-text>Ainda não estou indo para nenhum evento.</ion-text>
            </ion-label>
          </ion-item>
          <div class="ion-text-center ion-margin">
            <ion-button routerLink="/tabs/home">Que tal procurar por um?</ion-button>
          </div>
        </div>
        <div *ngIf="currentEvent">
          <ion-item *ngFor="let event of currentEvent" [routerLink]="['/events/' + event.id]">
            <ion-label class="ion-text-wrap">
              <ion-badge slot="end" color="danger" *ngIf="event.deleted_at">Cancelado</ion-badge>
              <div class="events-details">
                <ion-text color="tertiary" class="space-left">
                  {{ event.title }}
                </ion-text>
              </div>
              <p>
                <b>R${{ event.price }}</b> -
                {{ event.start_date | date }} até {{ event.end_date | date }}
              </p>
            </ion-label>
            <ion-badge slot="end" color="success" *ngIf="event.payment_confirmed">Pago</ion-badge>
            <ion-thumbnail slot="end" *ngIf="event.url_image">
              <ion-img [src]="getImage(event.id)"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-list>
    </div>
    <div *ngSwitchCase="segments.MY_EVENTS">
      <ion-list>
        <div *ngIf="!myEvents || myEvents.length <= 0">
          <ion-item *ngIf="!myEvents || myEvents.length <= 0" class="ion-text-center">
            <ion-label>
              <h2>Não criei nenhum evento.</h2>
            </ion-label>
          </ion-item>
        </div>
        <ion-item-sliding *ngFor="let event of myEvents" #slidingItem>
          <ion-item [routerLink]="['/events/' + event.id]">
            <ion-label class="ion-text-wrap">
              <ion-badge slot="end" color="danger" *ngIf="event.deleted_at">Suspenso</ion-badge>
              <div class="events-details">
                <ion-text color="tertiary" class="space-left">
                  {{ event.title }}
                </ion-text>
              </div>
              <p>
                <b>R${{ event.price }}</b> -
                {{ event.start_date | date }} até {{ event.end_date | date }}
              </p>
            </ion-label>
            <ion-badge slot="end" color="success" *ngIf="event.payment_confirmed">Pago</ion-badge>
            <ion-thumbnail slot="end" *ngIf="event.url_image">
              <ion-img [src]="getImage(event.id)"></ion-img>
            </ion-thumbnail>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="success" (click)="onRestore(event.id, slidingItem)">
              <ion-icon name="undo" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="onSuspended(event.id, slidingItem)">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-vertical">
    <ion-fab-button (click)="newEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>