<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ eventInvitation.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons size="2">
          <ion-button>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button >
              <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="onConfirmInvitation()" expand="full">
    Confirmar
  </ion-button>
</ion-content>