<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item text-center>
          <ion-label position="stacked">Usuário</ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item text-center>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input required type="text"></ion-input>
          </ion-item>
      </ion-list>
</ion-content>
