<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="loadedEvent">
    <ion-img [src]="loadedEvent.url_image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ loadedEvent.start_date| date }} - {{ loadedEvent.end_date | date}}</ion-card-subtitle>
      <ion-card-title>{{ loadedEvent.title }} -
        <ion-text color="primary">R{{ loadedEvent.price | currency }}</ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-wrap">
        {{ loadedEvent.about }}
      </div>
      <ion-list>
        <ion-item>
          <ion-icon name="alarm" slot="start"></ion-icon>
          <ion-label>
            <h2>Horário</h2>
            <p>{{ startHour }} até {{ endHour }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>
            <h2>Quantidade máxima</h2>
            <p>{{ loadedEvent.max_guests }} pessoas</p>
          </ion-label>
        </ion-item>
        <ion-item (click)="openAddress()">
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>Endereço</h2>
            <a>{{ loadedEvent.address }}</a>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    
      <ion-button (click)="onEnsureInvitation(loadedEvent.id)" expand="block" color="primary">
        Garantir convite
      </ion-button>
  </ion-card>
</ion-content>