<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ loadedEvent?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid no-padding *ngIf="loadedEvent">
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="loadedEvent.url_image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h2 text-center>R${{ loadedEvent.price }}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-text>
              <b>Sobre: </b> {{ loadedEvent.about }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <b>Inicio: </b> {{ loadedEvent.start_date | date }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
                <b>Fim: </b> {{ loadedEvent.start_date | date }}
            </ion-text>
        </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="onEnsureInvitation(loadedEvent.id)">
            GARANTIR CONVITE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
