<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="loadedEvent">
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="loadedEvent.url_image"></ion-img>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h2 text-center>R${{ loadedEvent.price }}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>{{ loadedEvent.title }}</h2>
                <p>{{ loadedEvent.about }}</p>
              </ion-label>
            </ion-item>
          <ion-item>
            <ion-text>
              <b>Inicio: </b> {{ loadedEvent.start_date | date }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
                <b>Fim: </b> {{ loadedEvent.end_date | date }}
            </ion-text>
        </ion-item>
        </ion-list>
        <ion-col offset-md="3">
          <div>
            <ion-button 
            fill="outline"
            color="danger"
            class="ion-margin"
            (click)="onDeleteCurrent(loadedEvent.id)"
            >
            CANCELAR CONVITE
          </ion-button>
          </div>
        </ion-col>
      </ion-col>
    </ion-row>
      <div>
        <ion-button (click)="onPayEvent()">PAGAR</ion-button>
      </div>
  </ion-grid>
</ion-content>
