<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedEvent.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="loadedEvent.urlImage"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h2 text-center>R${{ loadedEvent.price }}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-text>
              <b>Sobre: </b> {{ loadedEvent.about }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <b>Observações: </b>{{ loadedEvent.adicionalInformation }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <b>Entretenimento: </b>{{ loadedEvent.entertainment }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <b>Inicio: </b> {{ loadedEvent.startDate | date }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
                <b>Fim: </b> {{ loadedEvent.endDate | date }}
            </ion-text>
        </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>
            AVALIAR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
