<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="loadedEvent">
    <ion-img [src]="loadedEvent.url_image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ loadedEvent.start_date| date }} - {{ loadedEvent.end_date | date}}</ion-card-subtitle>
      <ion-card-title>{{ loadedEvent.title }} - 
          <ion-text color="primary">{{ loadedEvent.price | currency }}</ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ loadedEvent.about }}
      <ion-list>
          <ion-icon name="alarm"></ion-icon>
          <ion-text>Horário: </ion-text>
          <ion-item>
              <ion-label displayFormat="HH mm">{{ startHour }} até {{ endHour }}</ion-label>
          </ion-item>
          <ion-icon class="padding" name="people"></ion-icon>
          <ion-text> Qtd. máxima: </ion-text>
          <ion-item>
            <ion-label>
                {{ loadedEvent.max_guests }} pessoas</ion-label>
          </ion-item>
            <ion-icon name="globe"></ion-icon>
          <ion-text>Endereço: </ion-text>
        <ion-item>
            <ion-label>{{ loadedEvent.address }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
