<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rangulos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-card *ngIf="profile && !isLoading">
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="profile.urlPhoto" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ profile.name }}</h2>
        <p>{{ profile.email }}</p>
      </ion-label>
      <ion-button slot="end" (click)="onLogout()" color="danger">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>