<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rangulos
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-avatar class="ion-margin-start">
    <img [src]="profile.urlPhoto" />
  </ion-avatar>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [placeholder]="profile.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>

    <ion-input [placeholder]="profile.email"></ion-input>
    <ion-icon name="mail" slot="start"></ion-icon>
  </ion-item>
</ion-content>
