<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rangulos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let event of events" [routerLink]="['/event/'+event.id]">
      <ion-label>
        <h2>
            {{ event.name }}
        </h2>
        <p>{{ event.briefInformation }}</p>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-img [src]="event.urlImage"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>