<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rangulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="availableEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading && loadEvents && loadEvents.length == 0">
    <ion-item>
      <ion-text>Não há eventos por perto</ion-text>
    </ion-item>
    <div class="ion-text-center ion-margin">
      <ion-button routerLink="/tabs/events/new">Que tal criar um?</ion-button>
    </div>
  </div>

  <ion-list>
    <div *ngIf="loadEvents">
      <ion-item *ngFor="let event of loadEvents" [routerLink]="['/events/' + event.id]">
        <ion-label class="ion-text-wrap">
          <div class="events-details">
            <ion-text color="tertiary" class="space-left">
              {{ event.title }}
            </ion-text>
          </div>
          <p>
            <b>R${{ event.price }}</b> -
            {{ event.start_date | date }} até {{ event.end_date | date }}
          </p>
        </ion-label>
        <ion-badge slot="end" color="success" *ngIf="event.payment_confirmed">Pago</ion-badge>
        <ion-thumbnail slot="end" *ngIf="event.url_image">
          <ion-img [src]="getImage(event.id)"></ion-img>
        </ion-thumbnail>
      </ion-item>
    </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-vertical">
    <ion-fab-button [routerLink]="['/new-event']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>