<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Históricos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
    -->
    <ion-item *ngFor="let historic of historic">
      <ion-label>
        <h2>
          {{historic.name}}
        </h2>
        <p color="danger"> R${{historic.price}}</p>
      </ion-label>
      <ion-thumbnail slot="end">
          <ion-img [src]="historic.urlImage"></ion-img>
        </ion-thumbnail>
    </ion-item>
  </ion-list>
  
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
